[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Date and Time
Name[vi]=Ngày và Thời gian
Name[uk]=Дата і час
Name[tl]=Petsa at Oras
Name[sv]=Datum och tid
Name[sl]=Datum in čas
Name[sk]=Dátum a čas
Name[ru]=Дата и время
Name[ro]=Data şi Ora
Name[pt]=Data e Hora
Name[pl]=Data i godzina
Name[no]=Dato og klokkeslett
Name[nl]=Datum en tijd
Name[lv]=Datums un laiks
Name[lt]=Data ir laikas
Name[ja]=日付と時刻
Name[iw]=תאריך ושעה
Name[it]=Data e ora
Name[id]=Tanggal dan Waktu
Name[hr]=Datum i vrijeme
Name[hi]=दिनांक और समय
Name[fr]=Date et heure
Name[fi]=Päivämäärä ja aika
Name[es]=Fecha y hora
Name[en]=Date and Time
Name[el]=Ημερομηνία και ώρα
Name[de]=Datum und Zeit
Name[da]=Dato og tid
Name[cs]=Datum a čas
Name[ca]=Data i hora
Name[bg]=Дата и час
Name[ar]=التاريخ والوقت
GenericName=Clock configurator
GenericName[vi]=Đồng hồ cấu hình
GenericName[uk]=Годинники конфігуратор
GenericName[tl]=Clock configurator
GenericName[sv]=Klocka configurator
GenericName[sl]=Ura configurator
GenericName[sk]=Hodiny konfigurátor
GenericName[ru]=Часы конфигуратор
GenericName[ro]=Configurator Clock
GenericName[pt]=Configurador Clock
GenericName[pl]=Konfigurator Clock
GenericName[no]=Klokke konfigurator
GenericName[nl]=Klok configurator
GenericName[lv]=Clock Configurator
GenericName[lt]=Laikrodis Configurator
GenericName[ja]=時計コンフィギュレータ
GenericName[iw]=Configurator לשעון
GenericName[it]=Orologio configuratore
GenericName[id]=Jam configurator
GenericName[hr]=Sat konfigurator
GenericName[hi]=घड़ी configurator
GenericName[fr]=Horloge configurateur
GenericName[fi]=Kello konfiguraattori
GenericName[es]=Configurador de reloj
GenericName[en]=Clock configurator
GenericName[el]=Ρολόι configurator
GenericName[de]=Clock-Konfigurator
GenericName[da]=Ur konfiguratoren
GenericName[cs]=Hodiny konfigurátor
GenericName[ca]=Configurador de rellotge
GenericName[bg]=Часовник конфигуратор
GenericName[ar]=الساعة مكون
Comment=
Icon=date
Exec=gksu datetimeconf
Terminal=false
Categories=ENLIGHTENMENT;System;Settings;
